.sidebar {
    width: 250px;
    margin: 0;
    height: 100%;
    font-weight: 400;
    background-color: #212529;
    font-size: 16px;
    margin-top: 50px;
    color: rgba(255, 255, 255, 0.5);
    min-height: calc(100vh - 51px);
    position: fixed;
}
.sidebar::selection {
    background-color: #fff;
}
.sidebar__item {
    padding: 10px 10px;
    cursor: pointer;
    user-select: none;
}
.sidebar__item:hover {
    color: rgba(255, 255, 255, 0.75);
    transition: .7s;
}
.sidebar__icon {
    float: left;
    font-size: 16px;
    line-height: 16px;
    margin: 0 15px;
}
.sidebar__arrow {
    font-size: 20px;
    line-height: 20px;
    font-weight: bolder;
    float: right;
}
.category {
    width: 210px;
    height: auto;
    padding-left: 10px;
    margin: 10px 0 10px 20px;
}
.category__item {
    margin: 0 auto 12px;
    color: #6c757d;
    user-select: none;
}
.category__item:hover {
    color: rgba(255, 255, 255, 0.75);
}
.category__item::first-letter {
    text-transform: uppercase;
    user-select: none;
}